<ion-content padding id="page1">
  <img src="assets/imgs/logo.png" class="logo" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  <h1 id="title" style="color:#000000;text-align:center;">
    <b>STEP UP</b>
  </h1>
  <p id="subtitle">
    Stress support application
  </p>
  <button ion-button outline (click)="goToRegister()" block color="light">Register</button>
  <button ion-button outline (click)="goToHome()" block color="light">Login</button>
</ion-content>
