<ion-header>
  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">
  <h1 id="title" style="color:#000000;text-align:center;">
    <b>STEP UP</b>
  </h1>
  <p id="subtitle">
    Stress support application
  </p>
  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>Date of birth</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="myDate"></ion-datetime>
    </ion-item>
    <ion-item hideWhen="ios">
      <ion-label color="primary" stacked>Sex</ion-label>
    </ion-item>

    <ion-list radio-group [(ngModel)]="sex">
      <ion-item hideWhen="android">
        <ion-label color="primary" stacked>Sex</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio value="male"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio value="female"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label color="primary" stacked>City of origin</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Adress</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Major</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Batch</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Phone number</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button outline block color="light" on-click="goToQuestionnaire()">Next</button>
</ion-content>
