<ion-header>
  <ion-navbar>
    <ion-title>Get support</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">
  <img src="assets/imgs/logo.png" class="small-logo" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  <h1 id="title" style="color:#000000;text-align:center;">
    <b>STEP UP</b>
  </h1>
  <p id="subtitle">
    Stress support application
  </p>
  <h1 id="home-heading1" style="color:white;text-align:center;">
    Get Supported!
  </h1>
  <h3 id="home-heading1" style="color:white;text-align:center;">
    How can we help you?
  </h3>
  <button ion-button outline block color="light" (click)="goToGroups()" class="support-button"><p>I need to <b>talk to someone</b></p></button>
  <button ion-button outline block color="light" (click)="goToMetime()" class="support-button"><p>I want <b> me time</b></p></button>
</ion-content>
