<ion-header>
  <ion-navbar>
    <ion-title>Suggestion</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">
  <h1 id="title" style="color:#000000;text-align:center;">
    <b>STEP UP</b>
  </h1>
  <p id="subtitle">
    Stress support application
  </p>
  <h1 id="home-heading1" style="color:white;text-align:center;">
    What you can do
  </h1>
  <ion-card>
  <img src="http://www.yesmagazine.org/happiness/eleven-ways-built-healthy-habit-walking-vivek-murthy-20151016/walkingfall.jpg/image"/>
  <ion-card-content>
    <ion-card-title>
      Take a walk
      </ion-card-title>
    <p>
      Go out from your job/class and try to take a walk for at least 5 minutes off the building
    </p>
  </ion-card-content>
</ion-card>
<button ion-button outline (click)="goToSupport()" block color="light">Get support</button>
</ion-content>
