$yellow : #f6f1b1;
$green : #5daeb2;
#page1{
  background-color: $green;
}
@font-face{
font-family: opensans;
src: url('../assets/fonts/opensans.woff2') format('woff2');
}
#title{
  font-family: opensans;
  font-size: 5rem;
  color: $yellow !important;
}
#subtitle{
  text-align: center;
  font-family: opensans;
  margin-top: -0.5em;
  color: white;
  margin-bottom: 2em;
}
.support-button{
  margin-top: 1em;
  font-size: 1.5em;
}
