<ion-header>
  <ion-navbar>
    <ion-title>Test your stress level</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">
  <h1 id="title" style="color:#000000;text-align:center;">
    <b>STEP UP</b>
  </h1>
  <p id="subtitle">
    Stress support application
  </p>
  <h4 class="question">
    Let's check your condition!
  </h4>
  <p class="question">
    It's okay to answer the quiz with honesty so that we can help you better:)
  </p>
  <p class="question" id="spacing">
    0 = Never 1 = Almost Never 2 = Sometimes 3 = Fairly Often 4 = Very Often
  </p>
  <ion-list>
    <p class="questions">In the last month, how often have you been upset because of
      something that happened unexpectedly? </p>
    <ion-item class="range">
      <ion-range min="0" max="4" step="1" snaps="true" [(ngModel)]="data.a">
      <ion-label range-left>0</ion-label>
      <ion-label range-right>4</ion-label>
      </ion-range>
    </ion-item>

    <p class="questions"> In the last month, how often have you felt that you were unable to
control the important things in your life? </p>
    <ion-item class="range">
      <ion-range min="0" max="4" step="1" snaps="true" [(ngModel)]="data.b">
      <ion-label range-left>0</ion-label>
      <ion-label range-right>4</ion-label>
      </ion-range>
    </ion-item>

    <p class="questions"> In the last month, how often have you felt nervous and “stressed”? </p>
    <ion-item class="range">
      <ion-range min="0" max="4" step="1" snaps="true" [(ngModel)]="data.c">
      <ion-label range-left>0</ion-label>
      <ion-label range-right>4</ion-label>
      </ion-range>
    </ion-item>

    <p class="questions"> In the last month, how often have you felt confident about your
ability to handle your personal problems?  </p>
    <ion-item class="range">
      <ion-range min="0" max="4" step="1" snaps="true" [(ngModel)]="data.d">
      <ion-label range-left>0</ion-label>
      <ion-label range-right>4</ion-label>
      </ion-range>
    </ion-item>

    <p class="questions"> In the last month, how often have you felt that things were going
your way? </p>
    <ion-item class="range">
      <ion-range min="0" max="4" step="1" snaps="true" [(ngModel)]="data.e">
      <ion-label range-left>0</ion-label>
      <ion-label range-right>4</ion-label>
      </ion-range>
    </ion-item>

    <p class="questions">  In the last month, how often have you found that you could not cope
with all the things that you had to do? </p>
    <ion-item class="range">
      <ion-range min="0" max="4" step="1" snaps="true" [(ngModel)]="data.f">
      <ion-label range-left>0</ion-label>
      <ion-label range-right>4</ion-label>
      </ion-range>
    </ion-item>

    <p class="questions"> In the last month, how often have you been able to control irritations
in your life? </p>
    <ion-item class="range">
      <ion-range min="0" max="4" step="1" snaps="true" [(ngModel)]="data.g">
      <ion-label range-left>0</ion-label>
      <ion-label range-right>4</ion-label>
      </ion-range>
    </ion-item>

    <p class="questions"> In the last month, how often have you felt that you were on top of
things? </p>
    <ion-item class="range">
      <ion-range min="0" max="4" step="1" snaps="true" [(ngModel)]="data.h">
      <ion-label range-left>0</ion-label>
      <ion-label range-right>4</ion-label>
      </ion-range>
    </ion-item>

    <p class="questions"> In the last month, how often have you been angered because of
things that were outside of your control?  </p>
    <ion-item class="range">
      <ion-range min="0" max="4" step="1" snaps="true" [(ngModel)]="data.i">
      <ion-label range-left>0</ion-label>
      <ion-label range-right>4</ion-label>
      </ion-range>
    </ion-item>

    <p class="questions"> In the last month, how often have you felt difficulties were piling up
so high that you could not overcome them? </p>
    <ion-item class="range">
      <ion-range min="0" max="4" step="1" snaps="true" [(ngModel)]="data.j">
      <ion-label range-left>0</ion-label>
      <ion-label range-right>4</ion-label>
      </ion-range>
    </ion-item>

  </ion-list>
  <button ion-button outline block color="light" on-click="goToStart()">Register</button>
</ion-content>
