<ion-header>
  <ion-navbar>
    <ion-title>Questionnaire</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">
  <h1 id="title" style="color:#000000;text-align:center;">
    <b>STEP UP</b>
  </h1>
  <p id="subtitle">
    Stress support application
  </p>
  <h4 class="question">
    When you get stressed, what do you usually do?
  </h4>
  <ion-list>

  <ion-item class="questionnaire">
    <ion-label>Do sport</ion-label>
    <ion-checkbox [(ngModel)]="A"></ion-checkbox>
  </ion-item>

  <ion-item class="questionnaire">
    <ion-label>Religion related activities</ion-label>
    <ion-checkbox [(ngModel)]="B"></ion-checkbox>
  </ion-item>

  <ion-item class="questionnaire">
    <ion-label>Take a cup of coffee</ion-label>
    <ion-checkbox [(ngModel)]="C"></ion-checkbox>
  </ion-item>

  <ion-item class="questionnaire">
    <ion-label>Talk to a friend</ion-label>
    <ion-checkbox [(ngModel)]="D"></ion-checkbox>
  </ion-item>

  <ion-item class="questionnaire">
    <ion-label>Play games</ion-label>
    <ion-checkbox [(ngModel)]="E"></ion-checkbox>
  </ion-item>

  <ion-item class="questionnaire">
    <ion-label>Sleep</ion-label>
    <ion-checkbox [(ngModel)]="F"></ion-checkbox>
  </ion-item>

  <ion-item class="questionnaire">
    <ion-label>Do stretching</ion-label>
    <ion-checkbox [(ngModel)]="G"></ion-checkbox>
  </ion-item>

  <ion-item class="questionnaire">
    <ion-label>Play with pet</ion-label>
    <ion-checkbox [(ngModel)]="H"></ion-checkbox>
  </ion-item>

  <ion-item class="questionnaire">
    <ion-label>Listen to music</ion-label>
    <ion-checkbox [(ngModel)]="I"></ion-checkbox>
  </ion-item>

</ion-list>
  <button ion-button outline block color="light" (click)="goToPsychology()">Next</button>
</ion-content>
