<ion-header>
  <ion-navbar>
    <ion-title>Me time</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">
  <h1 id="title" style="color:#000000;text-align:center;">
    <b>STEP UP</b>
  </h1>
  <p id="subtitle">
    Stress support application
  </p>
  <p class="result">
    Result {{result}}
  </p>
  <p class="result">
    {{ message }}
  </p>

  <button ion-button outline block color="light" on-click="goToHome()">Continue</button>
</ion-content>
