page-result {
  #title{
    font-family: opensans;
    font-size: 5rem;
    color: $yellow !important;
  }
  #page1{
    background-color: $green;
  }
  .logo{
    padding: 5em;
    padding-bottom: 1em;
  }
  #subtitle{
    text-align: center;
    font-family: opensans;
    margin-top: -0.5em;
    color: white;
    margin-bottom: 2em;
  }
  .questions{
    color: white;
  }
  .question{
    text-align: center;
    color: white;
  }
  #spacing{
    margin-bottom: 3em;
  }
  .range{
    background-color: $green;
  }
  .result{
    font-size: 2em;
    text-align: center;
    color: white;
  }
}
