<ion-header>
  <ion-navbar>
    <ion-title>Facilitator</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">
    <div class="me">
      <p>
        Me
      </p>
      <ion-card>
        <ion-card-content>
          Hello
        </ion-card-content>
      </ion-card>
    </div>

    <p>
      Facilitator
    </p>
    <ion-card>
      <ion-card-content>
        Hi! is there anything that I can help?
      </ion-card-content>
    </ion-card>

    <div class="me">
      <p>
        Me
      </p>
      <ion-card>
        <ion-card-content>
          Yeah. I am very confused
        </ion-card-content>
      </ion-card>
    </div>

    <p>
      Facilitator
    </p>
    <ion-card>
      <ion-card-content>
        What happened? Can you tell me?
      </ion-card-content>
    </ion-card>

    <div class="me">
      <p>
        Me
      </p>
      <ion-card>
        <ion-card-content>
          I don't know. It's complicated.
        </ion-card-content>
      </ion-card>
    </div>

      <p>
        Facilitator
      </p>
      <ion-card>
        <ion-card-content>
          It's okay, take your time
        </ion-card-content>
      </ion-card>

      <p>
        Facilitator
      </p>
      <ion-card>
        <ion-card-content>
          Is there anything that I can do to help?
        </ion-card-content>
      </ion-card>

</ion-content>

<ion-footer>
    <ion-row class="reply" >
      <ion-col col-10>
        <ion-item>
          <ion-textarea placeholder="Reply...">
          </ion-textarea>
        </ion-item>
    </ion-col>
    <ion-col col-2 class="send-column">
        <ion-icon class="send-icon" name="send"></ion-icon>
    </ion-col>
    </ion-row>
</ion-footer>
