page-facilitator {
  $yellow : #f6f1b1;
  $green : #5daeb2;
  @font-face{
  font-family: opensans;
  src: url('../assets/fonts/opensans.woff2') format('woff2');
  }

  #page1{
    background-color: $green;
    font-style: opensans;
  }
  .me{
    .card{
      margin-left: auto;
    }
  }
  .card{
    width: fit-content;
  }
  .reply{
    background-color: $green;
  }
  .send-icon{
    font-size: 2.5em;
  }
  .send-column{
    padding-top: 1.5em;
  }

}
