<ion-content padding id="page1">
  <h1 id="title" style="color:#000000;text-align:center;">
    <b>STEP UP</b>
  </h1>
  <p id="subtitle">
    Stress support application
  </p>
  <h3 id="home-heading1" style="color:white;text-align:center;">
    Hi there! <br /> How is your day?
  </h3>
  <h3 id="home-heading2" style="color:#000000;text-align:center;"></h3>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-4>
        <i class="fas fa-frown emoticon"></i>
      </ion-col>

      <ion-col col-4 class="center">
        <i class="fas fa-meh emoticon"></i>
      </ion-col>

      <ion-col col-4 class="right">
        <i class="fas fa-smile emoticon"></i>
      </ion-col>
    </ion-row>
    <ion-row radio-group class="rating">
        <ion-col>
          <ion-label class="number-rating">1</ion-label>
          <ion-radio value="1" color="light"></ion-radio>
        </ion-col>

        <ion-col>
          <ion-label class="number-rating">2</ion-label>
          <ion-radio value="2" color="light"></ion-radio>
        </ion-col>

        <ion-col class="center">
          <ion-label class="number-rating">3</ion-label>
          <ion-radio value="3" color="light"></ion-radio>
        </ion-col>

        <ion-col class="right">
          <ion-label class="number-rating">4</ion-label>
          <ion-radio value="4" color="light"></ion-radio>
        </ion-col>

        <ion-col class="right">
          <ion-label class="number-rating">5</ion-label>
          <ion-radio value="5" color="light"></ion-radio>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-label color="primary" stacked>What happened today?</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col class="right">
        <button ion-button round class="save-button" (click)="goToSuggestion()">Save</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
