$yellow : #f6f1b1;
$green : #5daeb2;
#page1{
  background-color: $green;
}
.emoticon{
  font-size: 3em;
  color: $yellow;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}
.rating{
  font-style: opensans;
}
.number-rating{
  margin-bottom: 0;
  color: $yellow;
}
#title{
  font-family: opensans;
  font-size: 5rem;
  color: $yellow !important;
}
#subtitle{
  text-align: center;
  font-family: opensans;
  margin-top: -0.5em;
  color: white;
  margin-bottom: 2em;
}
.save-button{
  background-color: white;
  color: $green;
}
