<ion-header>
  <ion-navbar>
    <ion-title>Groups</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">
  <h1 id="title" style="color:#000000;text-align:center;">
    <b>STEP UP</b>
  </h1>
  <p id="subtitle">
    Stress support application
  </p>
  <ion-list>
    <ion-item class="groups" (click)="goToFacilitator()">
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/lecture.png">
      </ion-thumbnail>
      <h2>Facilitator</h2>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>
  <h1 id="home-heading1" style="color:white;text-align:center;">
    Available groups
  </h1>
  <ion-list>
    <ion-item class="groups">
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/overworked.png">
      </ion-thumbnail>
      <h2>Personal issue</h2>
      <button ion-button clear item-end>View</button>
    </ion-item>

    <ion-item class="groups" (click)="goToChats()">
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/quote.png">
      </ion-thumbnail>
      <h2>Academic issue</h2>
      <button ion-button clear item-end>View</button>
    </ion-item>

    <ion-item class="groups">
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/family.png">
      </ion-thumbnail>
      <h2>Family issue</h2>
      <button ion-button clear item-end>View</button>
    </ion-item>

    <ion-item class="groups">
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/adaptation.png">
      </ion-thumbnail>
      <h2>Physical issue</h2>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>
</ion-content>
