// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$yellow : #f6f1b1;
$green : #5daeb2;
@font-face{
font-family: opensans;
src: url('../assets/fonts/opensans.woff2') format('woff2');
}
.toolbar-title{
  color: black;
}
.toolbar-background{
  background-color: white;
}
.small-logo{
  padding: 5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.button-menutoggle-md{
  background-color: $green;
}
