<ion-header>
  <ion-navbar>
    <ion-title>Academic performance</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">
    <p>
      Anon123
    </p>
    <ion-card>
      <ion-card-content>
        I don't feel like passing this semester
      </ion-card-content>
    </ion-card>

    <p>
      Facilitator
    </p>
    <ion-card>
      <ion-card-content>
        Hey don't think negative! What can we do to help?
      </ion-card-content>
    </ion-card>

    <div class="me">
      <p>
        Me
      </p>
      <ion-card>
        <ion-card-content>
          Same with me, I don't have the mood to continue study.
        </ion-card-content>
      </ion-card>
    </div>

    <p>
      Anon443
    </p>
    <ion-card>
      <ion-card-content>
        Have you guys tried to study in the new library in Depok? It's very convenient
      </ion-card-content>
    </ion-card>

    <p>
      Anon123
    </p>
    <ion-card>
      <ion-card-content>
        No I haven't
      </ion-card-content>
    </ion-card>

    <p>
      Anon443
    </p>
    <ion-card>
      <ion-card-content>
        You should try!
      </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>
    <ion-row class="reply" >
      <ion-col col-10>
        <ion-item>
          <ion-textarea placeholder="Reply...">
          </ion-textarea>
        </ion-item>
    </ion-col>
    <ion-col col-2 class="send-column">
        <ion-icon class="send-icon" name="send"></ion-icon>
    </ion-col>
    </ion-row>
</ion-footer>
