<ion-header>
  <ion-navbar>
    <ion-title>Me time</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">
  <h1 id="title" style="color:#000000;text-align:center;">
    <b>STEP UP</b>
  </h1>
  <p id="subtitle">
    Stress support application
  </p>
  <h1 id="home-heading1" style="color:white;text-align:center;">
    What do you want to do?
  </h1>
    <ion-card class="me-time-card">
      <img src="../../assets/imgs/yoga.png"/>
      <div class="card-title">Yoga</div>
    </ion-card>

    <ion-card class="me-time-card">
      <img src="../../assets/imgs/meditation.png"/>
      <div class="card-title">Meditation</div>
    </ion-card>

    <ion-card class="me-time-card">
      <img src="../../assets/imgs/music.png"/>
      <div class="card-title">Calming music</div>
    </ion-card>

    <ion-card class="me-time-card">
      <img src="../../assets/imgs/quote.png"/>
      <div class="card-title">Inspirational quotes</div>
    </ion-card>
</ion-content>
