$yellow : #f6f1b1;
$green : #5daeb2;
#page1{
  background-color: $green;
}
@font-face{
font-family: opensans;
src: url('../assets/fonts/opensans.woff2') format('woff2');
}
#title{
  font-family: opensans;
  font-size: 5rem;
  color: $yellow !important;
}
#subtitle{
  text-align: center;
  font-family: opensans;
  margin-top: -0.5em;
  color: white;
  margin-bottom: 2em;
}
.me-time-card {
    position: relative;
    text-align: center;
}

.card-title {
  position: absolute;
  top: 36%;
  font-size: 2.0em;
  width: 100%;
  font-weight: bold;
  color: #fff;
}

.card-subtitle {
  font-size: 1.0em;
  position: absolute;
  top: 52%;
  width: 100%;
  color: #fff;
}
